*{padding:0;margin:0;border:none}
a{cursor:pointer}
header{position:fixed;top:0;left:0;right:0;z-index:10;}
header a#logo{position:absolute;top:15px;left:16px;font:20px "Myriad Pro","MyriadPro",Helvetica,Arial;color:#959ba1;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
header a#logo.hidden{pointer-events:none}
header a#logo:active{color:#53a9e9;}
header a#logo:active > span{color:#53a9e9}
header a#logo > span{font-weight:600;color:#616467}
header a#cart{position:absolute;top:15px;right:16px;display:block;width:21px;height:16px;background:url("img/cart.png") no-repeat;background-size:100% 100%}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5){header a#cart{background-image:url("img/cart@2x.png")}
}header .loading{position:absolute;left:50%;width:30px;margin-left:-15px;top:14px}
a.item{display:block;width:80px;height:120px;padding:0;line-height:0;background:#eaebed;}
a.item.hidden{background:transparent;}
a.item.hidden::after,a.item.hidden img{visibility:hidden}
a.item img{width:100%;height:100%;opacity:0;-webkit-transition:opacity .25s ease-in-out;-moz-transition:opacity .25s ease-in-out;transition:opacity .25s ease-in-out;}
a.item img.loaded{opacity:1}
#grid{line-height:0;text-align:center;padding:50px 30px;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
#grid a.item{position:relative;display:inline-block;margin:10px;}
#grid a.item::after{position:absolute;content:'';left:0;right:0;bottom:0;top:0;z-index:2;background:rgba(97,100,103,0.2);opacity:0;-webkit-transition:opacity .2s ease-in-out;-moz-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out}
#grid a.item:active::after{opacity:1;-webkit-transition:opacity .05s ease-in-out;-moz-transition:opacity .05s ease-in-out;transition:opacity .05s ease-in-out}
.loading{-webkit-transition:opacity .25s ease-in-out;-moz-transition:opacity .25s ease-in-out;transition:opacity .25s ease-in-out;}
.loading.hidden{opacity:0}
.loading > span{display:inline-block;width:4px;height:4px;border-radius:2px;background:#616467;margin:0 2px}
#fade{position:fixed;top:0;left:0;right:0;bottom:0;z-index:5;background:rgba(255,255,255,0.95);opacity:.000001;pointer-events:none;-webkit-transition:opacity .4s ease-in-out;-moz-transition:opacity .4s ease-in-out;transition:opacity .4s ease-in-out;}
#fade.visible{opacity:1;pointer-events:auto}
