* {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
}
h1, h2 {
  font-weight: normal;
}
body {
  background: #242A2E;
}
#profile {
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -145px;
  margin-top: -133px;
  width: 290px;
  height: 265px;
  background: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
  background: #E5F2F7;
  -webkit-mask: url('data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjI5MHB4IiBoZWlnaHQ9IjI2NXB4IiB2aWV3Qm94PSIwIDAgMjkwIDI2NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjI5MCIgaGVpZ2h0PSIyNjUiIHJ4PSI1Ij48L3JlY3Q+Cjwvc3ZnPgo=') no-repeat;
  mask: url('data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjI5MHB4IiBoZWlnaHQ9IjI2NXB4IiB2aWV3Qm94PSIwIDAgMjkwIDI2NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjI5MCIgaGVpZ2h0PSIyNjUiIHJ4PSI1Ij48L3JlY3Q+Cjwvc3ZnPgo=') no-repeat;
}
header {
  position: absolute;
  background: url(img/profile/header.png) no-repeat;
  background-size: 322px 170px;
  width: 100%;
  height: 180px;
  margin-top: -18px;
  text-align: center;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  z-index: 3;
}
header div {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
header div.active {
  pointer-events: auto;
}
header img {
  margin-top: 14px;
  width: 54px;
  height: 54px;
  border-radius: 30px;
  border: 3px solid #fff;
}
header h1, header h2 {
  color: #fff;
}
header h1 {
  font-size: 21px;
  margin-top: 1px;
  height: 25px;
}
header h2 {
  font-size: 14px;
  margin-top: 3px;
  height: 16px;
}
header h2 .followsyou {
  position: relative;
  top: -1px;
  left: 5px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  color: #fff;
  border-radius: 4px;
  background: rgba(255,255,255,.25);
  padding: 0 5px;
}
header div p:first-child {
  margin-top: 60px;
}
header div p {
  color: #fff;
  font-size: 14px;
}
header a, header a:visited {
  color: #fff;
}
header nav {
  position: absolute;
  top: 152px;
  width: 100%;
  line-height: 0;
  z-index: 2;
}
header nav a {
  margin: 0 4px;
  display: inline-block;
  border-radius: 4px;
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,.5);
}
header nav a span {
  display: block;
  border-radius: 4px;
  width: 8px;
  height: 8px;
  background: #fff;
}
#stats {
  position: absolute;
  background: #fff;
  top: 132px;
  height: 57px;
  padding: 20px 6px 0;
  z-index: 2;
}
#stats .col {
  float: left;
  padding-top: 6px;
  width: 33.3333%;
  text-align: center;
}
#stats .label {
  font-size: 11px;
  color: #8F9FAB;
}
#stats .value {
  font-size: 21px;
  color: #0084B4;
}
#actions {
  position: absolute;
  top: 209px;
  z-index: 1;
  width: 100%;
  text-align: center;
}
a#view {
  display: inline-block;
  margin-top: 10px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 5px;
  background: #53A9E9;
  width: 72px;
  height: 31px;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  cursor: pointer;
}
a#view .icon {
  position: relative;
  display: inline-block;
  background: url(img/profile/iconLink.png) no-repeat left bottom;
  background-size: 10px 10px;
  width: 13px;
  height: 13px;
  top: 0px;
  margin-right: 3px;
  pointer-events: none;
}
a#view .icon .arrow {
  position: relative;
  display: block;
  background: url(img/profile/iconLinkArrow.png) no-repeat right top;
  background-size: 8px 8px;
  width: 13px;
  height: 13px;
}
a#view .label {
  display: inline-block;
  padding: 0 3px;
  pointer-events: none;
}
a#view:hover {
  background: #2489D3;
}
a#view:active {
  background: #1c68b4;
}
a#view:focus {
  outline: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  header {
    background-image: url(img/profile/header@2x.png);
  }
  a#view .icon {
    background-image: url(img/profile/iconLink@2x.png);
  }
  a#view .icon .arrow {
    background-image: url(img/profile/iconLinkArrow@2x.png);
  }
}
